In [9]:
from bs4 import BeautifulSoup as bs
from urllib.request import urlopen

In [10]:
url= 'https://wuzzuf.net/search/jobs/?a=navbl%7Cspbl&q=data%20analyst'

In [12]:
html= urlopen(url).read()

In [13]:
soup= bs(html ,'html.parser')

In [14]:
jobs= soup.find_all('div', class_='css-ghe2tq e1v1l3u10')

In [22]:
print(len(jobs))

15

In [23]:
with open ('wuzzef_data_analyst.csv','w',encoding ='utf-8', newline='') as file:
    file.write('job_title, company_name, job_type, work_mode\n')
    for job in jobs:
        job_title= job.find('h2', class_='css-193uk2c')
        company_name= job.find('a', class_='css-ipsyv7')
        job_type= job.find('span', class_='css-uc9rga eoyjyou0')
        work_mode= job.find('span', class_='css-uofntu eoyjyou0')

        file.write(
             f'{job_title.text.strip() if job_title else 'N/A' },'
             f'{company_name.text.strip() if company_name else 'N/A' },'
             f'{job_type.text.strip() if job_type else 'N/A' },'
             f'{work_mode.text.strip() if work_mode else 'N/A' }\n')

In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [24]:
pd.read_csv('wuzzef_data_analyst.csv')

,job_title,company_name,job_type,work_mode
0,Project Listing Specialist & Data Analyst for ...,armonia vita -,Full Time,On-site
1,Business Data Analyst (Finance-Oriented),Mazzika Group -,Full Time,On-site
2,Data Analyst,Linrco Egypt -,Full Time,On-site
3,Commercial Specialist ( Junior Data Analyst ),realme -,Full Time,On-site
4,Data Analyst + Instructor (Excel & Power BI),EpsilonAI -,Full Time,Hybrid
5,Financial Analyst,Confidential -,Full Time,On-site
6,Bookkeeping Analyst I,Assist Group Limited -,Full Time,On-site
7,Financial Analyst,Fawry Plus -,Full Time,On-site
8,Production Analyst,Flex Asepto -,Full Time,On-site
9,Financial Analyst,Jaffangroup -,Full Time,On-site
10,Methodology Analyst,APEX Pharma -,Full Time,On-site
11,Digital Marketing Analyst – Middle East,Digital Virgo Egypt -,Full Time,On-site
12,Business Analyst,Global Brands -,Internship,Hybrid
13,Business Analyst,Gahez Digital Marketing -,Full Time,On-site
14,Financial Analyst & Planning,Naguib Selim -,Full Time,On-site